<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE generatorConfiguration PUBLIC 
"-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
"http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd" >  
<mapper namespace="com.hdxy.mapper.AdminMapper" >
	<select id="getAdminByAdminName" parameterType="String" resultType="Admin">
		SELECT id, password, random FROM admin WHERE adminName = #{adminName};
	</select>
	<select id="getAdminByAdminId" parameterType="Integer" resultType="Admin">
		SELECT password, random FROM admin WHERE id = #{adminId};
	</select>
	<insert id="addAdmin" parameterType="Admin">
		INSERT INTO admin(id, adminName, password, random) VALUES(null, #{adminName}, #{password}, #{random});
	</insert>
	<update id="setPassword">
		UPDATE admin SET password = #{password, jdbcType=VARCHAR} WHERE id = #{adminId, jdbcType=INTEGER};
	</update>
</mapper>