<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hdxy.mapper.AdminMapper" >
	<select id="getAdminByAdminName" parameterType="String" resultType="Admin">
		SELECT id, password, random FROM admin WHERE adminName = #{adminName};
	</select>
	<select id="getAdminByAdminId" parameterType="Integer" resultType="Admin">
		SELECT password, random FROM admin WHERE id = #{adminId};
	</select>
	<insert id="addAdmin" parameterType="Admin">
		INSERT INTO admin(id, adminName, password, random) VALUES(null, #{adminName}, #{password}, #{random});
	</insert>
</mapper>