<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE generatorConfiguration PUBLIC 
"-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
"http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd" >  
<mapper namespace="com.hdxy.mapper.FormulaMapper" >
	<select id="getValue" resultType="Double">
		SELECT value FROM formula WHERE name = #{name, jdbcType=VARCHAR} AND resultName = #{resultName, jdbcType=VARCHAR};
	</select>
	<update id="setValue">
		UPDATE formula SET value = #{value, jdbcType=DOUBLE} 
		WHERE resultName = #{resultName, jdbcType=VARCHAR} AND name = #{name, jdbcType=VARCHAR};
	</update>
</mapper>