<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hdxy.mapper.Semester1Mapper" >
    <!-- 用于查询Semester1中的对应学期所有表用到的模型 -->
	<resultMap type="Semester1" id="semester1List"></resultMap>
	<resultMap type="ScoreInputShow" id="scoreInputShowList"/>
	
	<select id="checkSemester1" resultType="Integer">
		SELECT id FROM semester1 WHERE jobNumber = #{jobNumber, jdbcType=VARCHAR} AND year = #{year, jdbcType=INTEGER};
	</select>
	<insert id="addSemester1" parameterType="Semester1">
		INSERT INTO semester1 (id, jobNumber, name, position, collegeId, superviseScore, peerScore, date, year) 
		values(null, #{jobNumber}, #{name}, #{position}, #{collegeId}, #{superviseScore}, #{peerScore}, #{date}, #{year});
	</insert>
	<update id="updateSemester1" parameterType="Semester1">
		UPDATE semester1 SET name = #{name}, position = #{position}, superviseScore = #{superviseScore}, peerScore = #{peerScore}, date = #{date} 
		WHERE jobNumber = #{jobNumber} AND year = (SELECT value FROM some_message WHERE name = 'year');
	</update>
	<delete id="deleteSemester1">
		DELETE FROM semester1 WHERE jobNumber = #{jobNumber, jdbcType=VARCHAR} AND year = #{year, jdbcType=INTEGER};
	</delete>
	<select id="getSemester1s" resultMap="semester1List">
		SELECT jobNumber, name, position, superviseScore, peerScore, studentScore, endScore FROM semester1 WHERE collegeId = #{collegeId, jdbcType=INTEGER} AND year = (SELECT value FROM some_message WHERE name = 'year');
	</select>
	<update id="setStudentScore" parameterType="ScoreInput">
		UPDATE semester1 SET studentScore = #{studentScore} WHERE jobNumber = #{jobNumber} AND year = #{year};
	</update>
	<insert id="addStudentScore" parameterType="ScoreInput">
		INSERT INTO semester1 (id, jobNumber, name, position, studentScore, year)
		SELECT null, #{jobNumber}, name, position, #{studentScore} , #{year}
		FROM teacher_data WHERE jobNumber = #{jobNumber};
	</insert>
	<select id="getScoreInputShow" resultMap="scoreInputShowList">
		SELECT s.name, s.position, s.jobNumber, s.studentScore, c.collegeName, c.phone 
		FROM semester1 AS s INNER JOIN college AS c ON s.collegeId = c.id
		WHERE s.year = (SELECT value FROM some_message WHERE name = 'year');
	</select>
</mapper>