<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE generatorConfiguration PUBLIC 
"-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
"http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd" >  
<mapper namespace="com.hdxy.mapper.SomeMessageMapper" >
	<select id="getValueByName" parameterType="String" resultType="String">
		SELECT value FROM some_message WHERE name = #{name};
	</select>
	<update id="setValueByName">
		UPDATE some_message SET value = #{value, jdbcType=VARCHAR} WHERE NAME = #{name, jdbcType=VARCHAR};
	</update>
</mapper>