<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://www.mybatis.org/dtd/mybatis-generator-config_1_0.dtd">
<mapper namespace="com.hdxy.mapper.WisdomMapper" >
	<select id="getValueRandom" resultType="String">
		SELECT value FROM wisdom ORDER BY  RAND() LIMIT 1;
	</select>
</mapper>