<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE generatorConfiguration PUBLIC 
"-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
"http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd" >  
<configuration>
	<typeAliases>
			<typeAlias alias="User" type="com.hdxy.pojo.User" />
			<typeAlias alias="College" type="com.hdxy.pojo.College" />
			<typeAlias alias="CollegeState" type="com.hdxy.pojo.CollegeState" />
			<typeAlias alias="DataShow" type="com.hdxy.pojo.DataShow" />
			<typeAlias alias="EndScore" type="com.hdxy.pojo.EndScore" />
			<typeAlias alias="Semester1" type="com.hdxy.pojo.Semester1" />
			<typeAlias alias="Semester2" type="com.hdxy.pojo.Semester2" />
			<typeAlias alias="TeacherData" type="com.hdxy.pojo.TeacherData"/>
			<typeAlias alias="Admin" type="com.hdxy.pojo.Admin"/>
			<typeAlias alias="UserMessage" type="com.hdxy.pojo.UserMessage"/>
			<typeAlias alias="ScoreInput" type="com.hdxy.pojo.ScoreInput"/>
			<typeAlias alias="ScoreInputShow" type="com.hdxy.pojo.ScoreInputShow"/>
			<typeAlias alias="EndScoreInput" type="com.hdxy.pojo.EndScoreInput"/>
	</typeAliases>
</configuration>